<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <main>
      <video autoplay></video>
      
      <div id="overlay"></div>
      <canvas id="tracker" class="hide"></canvas>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.2.4/EventEmitter.js" integrity="sha256-qCMOOoCqNAKth06cQ4SMLPqKJS5Yl8vcS8oWuQqscz8=" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.12/chance.min.js" integrity="sha256-s1MCYm/tPHOwJRzDeC9ZoNMUYREsD/nDR+CZuvFHXj8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.5/howler.js" integrity="sha256-3GCdDQXty9CakTIqQBNagmshvXEmufHM2/Ngtzc39hc=" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/inspirit/jsfeat/afc990a1/build/jsfeat-min.js"></script>
    <script src="/js/rtcclient.js"></script>
    <script src="/js/rtcserver.js"></script>
    <script src="/js/tv.js"></script>
    <script src="/js/location.js"></script>
    <script src="/js/weather.js"></script>
    <script src="/js/icon.js"></script>
    <script src="/js/kairos.js"></script>
    <script src="/js/kairosdetect.js"></script>
    <script src="/js/watson.js"></script>
    <script src="/js/watsonfaces.js"></script>
    <script src="/js/microsoft.js"></script>
    <script src="/js/microsoftemotion.js"></script>
    <script src="/js/microsoftdescribe.js"></script>
    <script src="/js/face.js"></script>
    <script src="/js/notification.js"></script>
    <script src="/app.js"></script>

  </body>
</html>
